.principal{
    //border: solid 2px red;
    height: 80vh;
    display: flex;
    justify-content: center;
   
 }

 .container{
    //border: solid 2px green;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 }

 form{

    border: solid 2px rgba(0, 86, 149, 1);
    width: 25vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

    div{
        //border: solid 2px yellow;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: rgba(0, 86, 149, 1);

    }
    input{
      width: 22vw;
      height: 5vh;
      border: solid 2px rgba(0, 86, 149, 1);
      border-radius: 10px;
      outline: none;
      padding-left: 20px;
      &::placeholder{
         color: black;
      }

    }
    .doar{
      background-color: rgba(0, 86, 149, 1);
      color: white;
      width: 10vw;
      height: 6vh;
      padding-left: 0;
      font-size: 17px;
    }

 }