.post{
    background-image: url("../../assets/banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 88vh;
    display: flex;
    align-items: center;
    h2{
        color: white;
        //border: solid 2px red;
        margin-left: 150px;
        font-size: 40px;
        width: 27vw;
    }
}

.devoDoar{
    height: 80vh;
    //border: solid 2px red;
    div{
        //border: solid 2px yellow;
        height: 15vh;
        display: flex;
        align-items: center;
        h2{
            font-size: 30px;
            margin-left: 60px; //quando for pro responsivo retirar
            color: rgba(0, 86, 149, 1);
        } 
    }

}

.boxCard{
    //border: solid 2px green;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    article{
        //border: solid 2px blue;
        width: 20%;
        height: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(1, 87, 148, 0.3);
        border-radius: 10px;
        p{
            text-align: center;
            //border: solid 2px blue; 
            width: 70%;
            font-size: 20px;
        }
    }
}